<!-- start: page footer -->
<footer class="page-footer px-xl-4 px-sm-2 px-0 py-3">
    <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
      <p class="col-md-4 mb-0 text-muted">© 2023 <a href=""  title="ThemeMakker Infotech LLP">XDBS</a>, All Rights Reserved.</p>
      <a href="#" class="col-md-4 d-flex align-items-center justify-content-center my-3 my-lg-0 me-lg-auto">
       <!-- <img src="https://92.204.129.232/lp-db/XDBS-new-logo.png" style="width:41%"> -->
      </a>

      <!--<ul class="nav col-md-4 justify-content-center justify-content-lg-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>-->
    </div>
  </footer>