<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
   <link rel="stylesheet" href="" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
   <link rel="stylesheet" href="assets/cssbundle/daterangepicker.min.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
  <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
 
  <title></title> 
  <title>Inventory Tasks</title>
  
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">


  <script src="../assets/js/plugins.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
 <!-- project css file  -->
 <title></title> 
  <title>Client Module</title>
  <!-- Application vendor css url -->
  <!-- project css file  -->
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">

  <!-- Jquery Core Js -->
  <link href="../stylesheets/login.css" rel="stylesheet" type="text/css">
  
</head>
<body id = "wrap">   
  <!-- start: sidebar -->
  <div class="wrappe bg-white">
    <div class="h2 text-center">XDBS</div>



    <%  if(session.user_name) { %>

        <h1>Hi User, Welcome</h1>

        <a href="/alltask" class="btn btn-primary">Index</a>

    <% } else { %>


    <div class="h4 text-muted text-center pt-2">Enter your login details</div>
    
        


        <form method = "POST" action="/login" autocomplete="off" id = "sample_form">


        
        <div class="form-group py-2">
            <div class="input-field">
                <span class="far fa-user p-2"></span>
                <input type="text" placeholder="Username or Email Address"  class="" id = "user_name" name = "user_name">
            </div>
        </div>
        <div class="form-group py-1 pb-2">
            <div class="input-field">
                <span class="fas fa-lock p-2"></span>
                <input type="password" placeholder="Enter your Password"  class="" id = "password" name = "password">
                <span class="far fa-eye-slash" onclick="toggleVisibility()"></span>
                <button class="btn bg-white text-muted">
                    
                </button>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="remember">
                
            </div>
            <div class="ml-auto">
                
            </div>
        </div>
        <button class="btn btn-block text-center my-3">Log in</button>
       
    </form>

    <% } %>
    
    <div id = "message"></div>
</div>
 <script src="../javascripts/loginHideShowPass.js" type="text/javascript"></script> 


</body>
</html>

